#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
* {
  transition: background-color ease 0.5s;
}