.main {
    max-width: var(--main-max-width);
    margin: 60px auto;
    border-radius: var(--main-border-radius);
}

.titleWrap {
    /* padding-bottom: 10px; */
    border-bottom: 1px solid var(--main-font-color);
}

.info {
    display: flex;
    gap: 8px;
    margin-top: 6px;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

.summary {
    font-size: 12px;
    opacity: 0.8;
}